
@model RegisterViewModel
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/Login/images/bg_2.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="mb-4">
              <h3>ثبت نام</h3>
            </div>
            <form asp-action="Register" method="post">
              <div class="form-group first">
                <label >Name</label>
                <input type="text" class="form-control" >
              </div>
              <br />
               <div class="form-group first">
                <label >Last Name</label>
                <input type="text" class="form-control" >
              </div>
              <br />
               <div class="form-group first">
                <label >Phone Number</label>
                <input type="text" class="form-control" >
              </div>
              <br />
              <div class="form-group last mb-3">
                <label >Email</label>
                <input type="email" class="form-control" >
              </div>
              <div class="form-group last mb-3">
                <label >Age</label>
                <input type="text" class="form-control" >
              </div>
              <div class="form-group last mb-3">
                <label >BearthDay</label>
                <input type="datetime" class="form-control" >
              </div>
              
              <input type="submit" value="Submit" class="btn btn-block btn-primary">
              <div class="social-login">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    